<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg" style="width: 400px; border-radius: 15px;">
    <div class="card-body p-5 text-center">
      <h2 class="text-primary mb-4">Acceso al Sistema</h2>
      <p class="text-muted mb-4">Ingrese sus credenciales de inventario</p>

      <form (ngSubmit)="iniciarSesion()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="user" name="usuario"
                 [(ngModel)]="usuario" placeholder="Usuario" required>
          <label for="user">Usuario</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="pass" name="password"
                 [(ngModel)]="password" placeholder="Contraseña" required>
          <label for="pass">Contraseña</label>
        </div>

        <button class="btn btn-primary w-100 py-2 shadow-sm" type="submit" [disabled]="!usuario || !password">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
